.App {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-top: 10px;
}

.drawer {
	/* position: absolute; */
	width: 80%;
	height: 100%;
}

.modal-wrapper {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 14px 28px;
	border-radius: 3px;
	max-width: 300px;
	min-width: 100px;
}
.modal {
	/* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px; */
}

.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;	
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.63);
}

.header-container {
	font-size: large;
	font-weight: 700;
	color: red;
}

.body-container {
	font-size: medium;
	font-weight: 500;
}

.body-container:hover {
	color:chocolate
}

.footer-container {

}

.active-modal {
	overflow: hidden;
}