.modal {
	width: 300px;
	height: 300px;
}

.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;	
	overflow-x: hidden;
}

.active-modal {
	overflow: hidden;
}


.overlay {
	background: rgba(0, 0, 0, 0.63);
}